*~
.hydra
*pyc
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/
model_input_logs/

*.mp4
*.npz
vla_arena.egg-info/
.vscode/
scripts/demonstration_data/
demonstration_data/
scripts/datasets/
datasets/
rollouts/
data.bat
rename.py
scripts/regenerate_strict.py
render.bat
render_dataset_with_omniverse.py
my_evaluation.sh
print_hdf5.py